body {
  width: 100%;
  height: 100vh;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  cursor: zoom-in;
}
main {
  width: 90%;
  height: 80vh;
  background-color: hsla(189, 93%, 89%, 1);
  margin: 20% auto;
  position: relative;
}
@media (max-width: 767px) {
  main {
    width: 100%;
  }
  .container {
    width: 80%;
    display: block;
  }
  .container p {
    font-size: 1em;
  }
}
#bg {
  width: 30rem;
  height: 560px;
  background-size: auto;
  margin-top: 5%;
  margin-left: 15%;
  padding: 0 10px;
}
#wr {
  margin-top: 3%;
}
p {
  position: absolute;
  margin-top: -24%;
  margin-left: 27%;
  color: white;
}
h2 {
  position: absolute;
  margin-top: -27%;
  margin-left: 27%;
  color: white;
  font-size: 1.8rem;
}
.btn {
  border: 1px solid transparent;
  background-color: hsla(167deg, 29%, 46%);
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: -21%;
  position: absolute;
  margin-left: 26%;
  opacity: 0.9;
  cursor: auto;
}
.btn:hover {
  animation-name: butt;
  animation-duration: 500ms;
}
@keyframes butt {
  0% {
    background-color: aqua;
  }
  50% {
    background-color: rgb(62, 97, 84);
    color: gray;
  }
  100% {
    background-color: hsla(167deg, 29%, 46%);
  }
}
.card {
  width: 38%;
  height: 72.3%;
  background-color: white;
  top: 9.5%;
  position: absolute;
  left: 47%;
}
.flex ul {
  display: flex;

  position: absolute;
  top: 15%;
  list-style: none;
}
.flex ul li {
  color: rgb(212, 212, 221);
  justify-items: space-between;
  align-items: space-around;
  padding: 10px 10px;
  font-size: 1.3rem;
}
.flex ul li:nth-child(1) {
  color: black;
}
.flex:hover {
  animation-name: flex;
  animation-duration: 5s;
}
@keyframes flex {
  0% {
    opacity: 0;
    font-size: 10px;
  }
  20% {
    opacity: 1;
    background-color: black;
    font-size: 12px;
  }
  80% {
    opacity: 0;
    font-size: 15px;
  }
  100% {
    opacity: 1;
    font-size: 1.3rem;
  }
}

.card #art {
  position: absolute;
  margin-top: 7%;

  padding: 20px 35px;
}
.card h2 {
  color: black;
}
.card #men {
  position: absolute;
  margin-left: 30rem;
  margin-top: -8%;
}

.container img {
  height: 30px;
  margin-top: -25%;
  padding-top: 2.5rem;
  border: 1px solid transparent;
  border-radius: 50%;
  clip: rect(50%, 50%, 50%, 50%);
}
.container p {
  color: black;
  margin-top: -7%;
  margin-left: 10%;
  font-size: 16px;
  padding: 0;
}
.container {
  display: inline-block;
  margin-top: 20%;
  padding: 40px;
  white-space: nowrap;
}
.container span {
  margin-left: 23%;
  text-align: justify;
  font-size: 30px;
  font-weight: -10px;
  /* font-weight: -0.1em; */
}
.container sup {
  position: absolute;
  margin-left: 1%;
  margin-top: lighter;
}
#tw {
  margin-left: 36%;
  padding: o;
}
#twe span {
  position: absolute;
  padding-left: -5%;
}
#ten {
  margin-left: 28%;
}
#fr {
  margin-left: 49%;
}
#two {
  margin-left: 27%;
}
